* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar css */
.navbar {
    width: 100vw;
    background-color: rgb(29, 29, 29);
    overflow-x: hidden;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
}
.nav_list {
    padding: 1% 6.5%;
    width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: flex-end;
    gap: 20px;
}
.nav_list_item {
    list-style-type: none;
    font-size: 1px;
    padding-top: 2px;
    list-style-type: none;
}
.nav_list_item1 a {
    font-size: 22px;
}
.nav_link {
    text-decoration: none;
    color: rgb(115, 114, 114);
    /* padding-left: 28px; */
    font-size: 17px;
}
.main {
    overflow-x: hidden;
    border-top: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
    margin-top: 0px;
    padding: 0%;
}

/* h1 detail */

.h1_container {
    font-family: "Gill Sans", sans-serif;
    font-size: 1.9em;
    margin: auto;
    margin-top: 1%;
    padding-left: 100px;
    margin-bottom: 8px;
}
.h1_container p {
    margin-bottom: 14px;
}
#h_span {
    font-family: "Gill Sans", sans-serif;
    font-size: 19px;
    color: #777777;
}

/* main css */

.main {
    width: 87%;
    overflow: auto;
    margin: 0.4% auto 5% auto;
    display: flex;
    padding: 0.5% 0% 2% 0%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main_item {
    width: 30%;
    overflow: hidden;
    margin: 1% 0%;
}
.main_item_img {
    width: 100%;
}
.main_item_img img {
    width: 100%;
    height: 100%;
}
.main_item_para {
    font-family: "Gill Sans", sans-serif;
    color: #434342;
}
.footer {
    height: 10px;
    margin-top: 1.3%;
    padding: 20px 0px 15px 100px;
    font-family: "Gill Sans", sans-serif;
    color: #434342;
}
.main_item_h2 {
    margin: 11px 0;
    font-family: "Gill Sans", sans-serif;
    color: #448bca;
    font-size: 21px;
}

@media(max-width:2500px) {
    .h1_container {
        padding: 2% 0% 0% 6.5%;
    }
    .footer {
        padding: 2% 6.5%;
    }
    .main {
        margin: 0% 6.5%;
    }

    body {
        margin-bottom: 2.5%;
    }
}
@media(max-width:900px) {
    .main {
        padding-top: 1.5%;
        padding-bottom: 3%;
        margin-bottom: 0%;
    }
    .main_item {
        width: 48%;
    }
    .footer {
        padding-left: 65px;
        padding-top: 22px;
        padding-bottom: 2%;
        margin-bottom: 4%;
    }
    .h1_container {
        padding: 2.3% 0% 0% 5.9%;
    }
}
@media (max-width:784px) {
    .footer {
        padding: 2% 6.8%;
    }
    .h1_container {
        padding-top: 2%;
    }
}
@media(max-width:600px) {
    .main_item {
        width: 98%;
    }
    .main {
        padding: 3% 0%;
    }
    .h1_container {
        padding: 3.5% 0% 0% 6%;
    }
    .footer {
        padding: 3% 6.5%;
    }
    .nav_list_item {
        font-size: 8px;
        padding-top: 2px;
    }
}
@media(max-width:425px) {
    .nav_list {
        flex-direction: column;
        margin: auto;
        padding: 6% 6.5%;
    }
}

@media(max-width:370px) {
    .h1_container {
        font-size: 20px;
    }
    .h_span {
        font-size: 11px;
    }
    .nav_list {
        flex-direction: column;
        margin: auto;
        padding: 6% 6.5%;
    }
}

@media(max-width:340px) {
    #h_span,
    .footer {
        font-size: 14px;
    }
    .footer {
        padding-bottom: 3%;
    }
}
.b_img{
    height: 225px;
    background-color: #cccccc ;
    justify-content: center;
    align-items:center;
    display: flex;
     /* font-family: Arial; */
    color: #939393;
    font-size: 45px;
    font-weight: bold ;
    font-family: 'EB Garamond', serif;
}